input {
  width: 200px;
}
/* .disabled {
  display: none;
  color: white;
} */
/* .cope {
  padding: 1rem;
  background-color: yellow;
  color: white;
} */

/* button {
  width: 200px;
} */

/* 
  body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
    }

    #grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 10px;
      margin-top: 20px;
    }

    .grid-item {
      background-color: #e0e0e0;
      border-radius: 5px;
      padding: 10px;
      text-align: center;
    }

    .winner {
      text-align: center;
      margin-top: 20px;
      font-weight: bold;
      font-size: 24px;
    } */
/* body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #ff3d47;
  font-size: 28px;
  margin-bottom: 20px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.grid-item {
  background-color: #ff3d47;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.grid-item:hover {
  background-color: #e6001e;
}

.cope {
  font-weight: bold;
  font-size: 18px;
  color: #ff3d47;
  text-decoration: underline;
} */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
            background-image: url('http://localhost:8084/assets/bigbg.jpg');
            /* background-position: center; */
        /* background-color: aqua; */

}

  .room-number {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            width: 120px;
            height: 120px;
            background-color: #ff0000;
            border-radius: 50%;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease;
        }

        .room-number:hover {
            background-color: #b3b3b3;
        }

        .room-number a {
            text-decoration: none;
            color: #333333;
        }

        .containerip {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f1f1f1;
        }
        .container {
                        background-image: url('http://localhost:8084/assets/bigbg.jpg');

                        background-position: center;
        }

        .containerip label {
            display: block;
            margin-bottom: 10px;
        }

        .containerip input[type="text"],
        .containerip select {
            width: 100%;
            padding: 8px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .containerip button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        .gridi-containerip {
            display: grid;
            margin-top: 5rem;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            justify-items: center;
            align-items: center;
            text-align: center;
            background-image: url('/assets/box.jpg');

        }
        a{
            color: #000000 !important; 
font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .room-number {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            width: 10rem;
            height: 10rem;
            background-color: #000000;
            color: #000000 !important; 
            /* background: url('http://localhost:8084/assets/box.jpg'); */

            /* background-image: url('http://localhost:8084/assets/box.jpg'); */

            border-radius: 50%;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease;
        }

        .room-number:hover {
            color: yellow;
            background-color: #b3b3b3;
        }
#myImage{
  display: none;
}
        .room-number a {
            text-decoration: none;
        

        }

        .containerip {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f1f1f1;
        }

        .containerip label {
            display: block;
            margin-bottom: 10px;
        }


        .containerip input[type="text"],
        .containerip select {
            width: 100%;
            padding: 8px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .containerip button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
        }












.container {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
height: 100vh;
  text-align: center;
  /* padding: 50px; */
}
#grid {
  height: fit-content;
  width: 80%;
            /* background-image: url('http://localhost:8084/assets/box.jpg'); */
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  padding: .1rem;
  text-align: center;
  flex-wrap: wrap;
  object-fit: fill;
  
  gap: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#grid  >*{
  transform: translateX(50deg) !important;
}
@keyframes rotate-image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.rotate-image {
  animation: rotate-image 2s linear infinite;
}

.center{
  margin-top: 10rem;
  background-color:goldenrod;
  color:red ;
  font-weight: bold;
  font-size: xx-large;
  /* width: 0; */
    /* background-color: black; */
  color: red;
  /* padding: 10px 20px; */
  border: none;
  padding: .2rem;
  width: fit-content;
  border-radius: 5px;
  font-size: 1.5rem;
  height: fit-content;
  cursor: pointer;

}
#logoutButton {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.profile{
  width: 100%;
  /* margin-top: 3rem; */
  position: relative;
  padding: 1rem;
  height: fit-content;
  background: #000;
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.full-{
  width: 100%;
}
.hiddens{
display: none !important;}
.cope {
  background-color: black;
  color: red;
  /* padding: 10px 20px; */
  border: none;
  transform: translateX(35deg);
  padding: .2rem;
  width: fit-content;
  border-radius: 5px;
  

  
  color: black;
  background-color: yellow;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 
              0 0 30px yellow,
              0 0 40px yellow,
              0 0 100px black,
              0 0 150px black;
  /* text-shadow: 0 0 10px blue,
               0 0 20px blue,
               0 0 30px blue,
               0 0 40px blue,
               0 0 70px blue,
               0 0 80px blue,
               0 0 100px blue,
               0 0 150px blue; */


  font-size: 1.5rem;
  height: fit-content;
  cursor: pointer;
  
  /* transition: 5s all; */
}

.cope:hover {
  background-color:goldenrod;
  color:red ;
  font-weight: bold;
  /* font-size: xx-large; */
  transform: scale(1,1.2);

}

.cope {
  font-size: 1.5rem;
  /* margin-top: 20px; */
}

