* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52393.jpg?w=900&t=st=1686122789~exp=1686123389~hmac=251885b85df9ddbcb5063982d35be054bc4f28bd12dcb923a0e7cca4e2260ea8");
  background-size: cover;
}
input {
  width: 200px;
}

.top_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 95vh;
  padding-top: 10vh;
  width: 100%;
  /* background-color: green; */
}
.game_listing {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  /* Two columns */
  font-size: 2rem;
  width: 100%;
  margin-left: 1rem;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 0.5rem;
  gap: 1rem;
  height: 80vh;
}
.room-number {
  /* width: 0; */
  /* padding-inline: 10%;
  padding-top: 5%; */
  text-align: center;
  display: flex;
  align-items: center;

  justify-content: center;
  background: url("./assets/box.jpg");
  background-size: cover;
  filter: blur(1px);
  /* background-color: blue; */
  background-repeat: no-repeat;
}
.room-number > a {
  width: 1rem;
  z-index: 5;
  color: black !important;
  border: 1px solid rgb(255, 255, 255);
  text-decoration: none;
  background-color: white;
  width: fit-content;
  /* padding: 1rem; */
}

.ads {
  height: 30vh;
  /* background-color: #fff; */
  width: 100%;
  padding: 1rem;
}
.ad {
  width: 100%;
  height: 15vh;
  background-color: white;
}
.bottom_container {
  height: 5vh;
  color: white;
  background-color: black;
}

.profile {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  margin-top: 80rem;
position: relative;
  justify-content: space-around;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.full- {
  display: flex;
  flex-direction: row;
}
.game_items{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .2rem;
}
#s{
  height: fit-content;
  width: 88%;
  height: 100vh;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(2, minmax(2rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(2rem, 1fr));
  text-align: center;
  gap: 1px;
}
#grid_listing  {
  width: 88%;
  margin-top: 80rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: .5rem; /* Adjust the gap as per your preference */
  height: 100vh;

}

#grid_listing  {
  padding: 10px;
}

#grid_listing > * {
  transform: translateX(-50deg) !important;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#myImage {
  width: 3rem;
  transform-origin: center;
 
  display: none;

}

#myImage_winner {
  width: 8rem;
  transform-origin: center;

  transition: transform 0.5s ease-in-out;

}

.rotate-image {
  animation: rotate360 0.3s linear infinite;
  /* animation: rotate360 0.3s linear infinite; */

  /* animation: rotate-image 1s linear infinite; */
}

/* img:hover {
  animation: rotate360 0.3s linear infinite;
} */

.rt{
  width: 15rem;
  position: absolute;
  margin: 20rem;
  z-index: 5;
  animation: rotate360 0.3s linear infinite;
}
.w_p_list{
  /* padding: 2rem; */
  width: 100%;
  text-align: center  ;
  font-size: 2rem !important;
}
.w_name{
  /* padding: 2rem; */
  width: 100%;
  text-align: center;
}
#w_number h1{
   font-size: 12rem !important;

}

.cope {
  /* color: red; */
  /* padding: 10px 20px; */
  border: none;
  transform: translateX(-35deg);
  padding: 0.2rem;
  width: fit-content;
  border-radius: 5px;
  font-weight: bold;

  color: red;
  background-color: yellow;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 0 0 30px yellow, 0 0 40px yellow, 0 0 100px black, 0 0 150px black;
  text-shadow: 0 0 10px white,
               0 0 20px white,
               0 0 30px white,
               0 0 40px white,
               0 0 70px red,
               0 0 80px red,
               0 0 100px red,
    
               0 0 150px white;

  font-size: 3rem;
  height: fit-content;
  cursor: pointer;

  /* transition: 5s all; */
}

.cope:hover {
  background-color: goldenrod;
  color: red;
  font-weight: bold;
  /* font-size: xx-large; */
  transform: scale(1, 1.2);
}

.game_container_winner{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}
.game_items{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 30vh;

}

